# environment
.venv/

# notebooksq
.ipynb_checkpoints/

# data prep outputs (NEVER commit)
data-prep/03_output/

# optional: if input is generated or large
data-prep/01_input/

# keep empty folders if needed
!.gitkeep